@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.1;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

#calc{
  width: 400px;
}
#display, tr, button{
  font-size: 1.1em;
  width: 100%;
}
#display{
  text-align: right;
  margin-bottom: 10px;
  font-size: 1.6em;
  height: 60px;
}
button{
  height: 50px;
  border: none;
  background-color: rgb(207, 207, 207);
  cursor: pointer;
}
button:hover{
  background-color: rgb(172, 172, 172);
}
