@charset "UTF-8";

/* --gerais-- */
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    width: 100vw;
    height: 100vh;
    background: #233eff no-repeat;
    background-size: contain;
}
h1{
    color: white;
    text-shadow: 2px 2px 0px #111c6d;
    padding: 10px;
    text-align: center;
}
/* --retrato-- */
@media screen and (orientation: portrait) {
    body{
        background-image: url(../images/cev-portrait.jpg);
        background-position: center bottom;
    }
}
/* --paisagem-- */
@media screen and (orientation: landscape) {
    body{
        background-image: url(../images/cev-landscape.jpg);
        background-position: left bottom;
    }
}