:root {

    --tamanhoFonte: 12px;

    --botãoAbout: calc(var(--tamanhoFonte) * 2.45);
    --iconeTamanho: var(var(--tamanhoFonte))
  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--tamanhoFonte);
}
body{
    position: relative;
    width: 100%;
    padding-top: 10px;
    background-color: #083b08;
    text-align: center;
    align-items: center;
    color: #ffffff;
}
h1{
    width: 100%;
    margin: auto;
    font-size: 1.7rem;
    text-shadow: 5px 5px 10px #000000;
}
#buttonOpenAbout, #buttonExitAbout{
    width: var(--botãoAbout) ;
    height: var(--botãoAbout);
    box-shadow: 5px 2px 10px #000000;
    background-color: #083b08;
    border: 3px solid #ffffff;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    transition: .5s;
}
#buttonOpenAbout:hover, #buttonExitAbout:hover{
    background-color: #6ee66e;
    color: #000000;
}
#entradas, #resultados{
    position: relative;
    width: 90%;
    max-width: 957px;
    margin: 20px auto;
    padding: 20px 10px 10px 10px;
    background-color: #6ee66e;
    border: 3px solid #ffffff;
    border-radius: 10px;
    text-align: center;
    color: #000000;
}
body > div h2{ 
    position: absolute;
    left: 10px;
    top: 0px;
    transform: translateY(calc(-50%));
    width: 140px;
    border: 3px solid #ffffff;
    border-radius: 10px;
    background-color: #6ee66e;
    font-size: 1.2rem;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons1{
    transform: scale(--iconeTamanho);
    margin-left: 2px ;
}
#containQuantidadeDePassageiros{
    text-align: left;
}
body > div input{
    width: 50px;
    padding-left: 5px;
    margin-top: 5px;
}
.passageiro{
    position: relative;
    width: 95%;
    max-width: 300px;
    margin: 20px 5px 0px 5px;
    border: 2px solid #083b08;
    border-radius: 5px;
    padding: 20px 10px 10px 10px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
body > div h3, body > div h4{
    position: absolute;
    background-color: #ffffff;
    padding: 3px;
    border: 2px solid #083b08;
    border-radius: 5px;
    color: #000000;
    transform: translateY(calc(-50% - 20px));
    display: flex;
    align-items: center;
}
.mala{
    position: relative;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    padding-top: 20px;
    border: 1px solid #083b08;
    border-radius: 5px;
}
input.pmala{
    width: 100px;
}
input.pmala::placeholder {
    color: #000000;
}
#resultados{
    text-align: left;
}
.tituloResultado{
    position: relative;
    margin: 5px 0;
    padding: 3px 0px 3px 10px;
    border-radius: 0px;
    transform: translateY(0);
    background: linear-gradient(30deg, #083b08 0%, #6ee66e 70%);
    border: none;
    font-weight: bolder;
    color: #ffffff;
}
.icons2 {
    margin-left: 5px;
}
body > div ul{
    margin: 10px 0px 10px 5px;
    padding-left: 15px;
}
body > div li{
    margin-top: 5px;
}
.bagageiroTitulo{
    position: relative;
    transform: translateY(0);
    margin-top: 10px;
}
aside{
    padding-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #083b08;
    text-align: left;
    flex-wrap: wrap;
    padding-bottom: 30px;
    transition: 1s;
    z-index: 2;

    display: none;
    opacity: 0%;

}
aside h1{
    text-align: center;
}
aside h2{
    display: flex;
    text-align: left;
    margin: 30px 0px 20px 30px;
    font-size: 1.3rem;
    text-shadow: 3px 3px 5px #000000;
    
}
aside div{
    max-width: 400px;
    height: fit-content;
}
aside #principal{
    max-width: 800px;
}
aside .figura{
    margin: 100px 0px 0px 50px;
    transform: rotate(54deg);
    display: flex;
    font-size: 20em;
    height: fit-content;
    text-shadow: 10px 10px 3px black;
}
aside p{
    margin: 10px 50px;
    text-indent: 20px;
    line-height: 1.3em;
    text-align: justify;
}
aside ul{
    margin: 10px 50px;
    line-height: 1.3em;
}
aside li{
    margin-bottom: 10px;
}